.card {
    margin-top: 5rem;
    width: 100%;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-striped tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    width: auto;
  }
  
  .thead-dark {
    background-color: #343a40;
    color: #fff;
  }
  
  th {
    font-weight: bold;
  }
  